.color-box {
  list-style-type: none;
  min-height: 300px;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  margin: 20px;
  padding: 10px 0;

  .button-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    margin: 2px;
  }

  .color-bg {
    min-height: 40%;
  }
}
