.color-form {
  height: 100%;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  input {
    min-height: 30px;
    margin: 0 10px;
    border-radius: 5px;
  }
  #title {
    width: 40vw;
  }
  #color {
    background-color: lightgray;
    padding: 0;
    height: 34px;
  }
  .button-add {
    border-radius: 3px;
    background-color: green;
    color: white;
    border: 0;
    width: 70px;
  }
}