.rating-wrapper {
  display: flex;
  justify-content: center;
  .star {
    clip-path: polygon( 50% 0%, 63% 38%, 100% 38%, 69% 59%, 82% 100%, 50% 75%, 18% 100%, 31% 59%, 0% 38%, 37% 38%);
    height: 30px;
    width: 30px;
    background-color: gray;
    cursor: pointer;
    margin: 5px 0;
    &.selected {
      background-color: red;
    }
  }
}
